@model IEnumerable<BEUCertificacion.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idcliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.idcliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idcliente })
        </td>
    </tr>
}

</table>
